---
interface Props {
  timespan: string;
  degree: string;
  institution: string;
}

const { timespan, degree, institution } = Astro.props;
---

<div class="resume-card">
  <div class="resume-card__title">
    <span>{timespan}</span>
    <h2>{degree}</h2>
    <span class="resume-card__subtext">{institution}</span>
  </div>
</div>

<style>
  .resume-card {
    margin-bottom: 2rem;
  }

  .resume-card__title {
    margin-bottom: 1rem;
  }

  .resume-card__title > span {
    margin-bottom: 1rem;
  }

  .resume-card__title > .resume-card__subtext {
    opacity: 0.7;
    text-transform: uppercase;
  }

  .resume-card__title > h2 {
    margin-bottom: 0.2rem;
  }

  span {
    text-transform: uppercase;
  }
</style>
