---
interface Props {
  timespan: string;
  title: string;
  organization: string;
  description?: string;
}
const { timespan, title, organization, description } = Astro.props;
---

<div class="resume-card">
  <div class="resume-card__title">
    <small>{timespan}</small>
    <h3>{title}</h3>
    <span class="resume-card__subtext">{organization}</span>
  </div>
  {description && <p>{description}</p>}
</div>

<style>
  .resume-card {
    margin-bottom: var(--space-l);
  }

  /* Ensure consistent heading size regardless of heading level */
  .resume-card :is(h2, h3, h4) {
    font-size: var(--step-1);
  }

  /* Ensure consistent text size for all non-heading elements */
  .resume-card > :not(h2, h3, h4) {
    font-size: var(--step--1);
  }

  .resume-card__title {
    margin-bottom: var(--space-s);
  }

  .resume-card__title > .resume-card__subtext {
    opacity: 0.7;
  }

  .resume-card__title > h3 {
    margin-bottom: var(--space-3xs);
    text-wrap: balance;
  }

</style>
