<Fragment>
  <p>
    I spent my childhood peeking over my dad's shoulder as he stayed up and
    handcrafted numerous websites and mobile apps. Fast forward a bit, a few
    years ago I picked up some JavasScript skills and hacked up a website when I
    was completing my bachelors in psychology- I instantly fell in love with
    programming.
  </p>
  <p>
    Now, I am currently pursuing software development in British Columbia
    Institute of Technology’s Computer System Technology program. What's my
    drive? Simple: I love creating awesome stuff. Whether it's a nifty app or a
    quirky website, if it's cool and techy, I'm all in!"
  </p>
</Fragment>
