<Fragment>
  <p>
    I spent my childhood peeking over my dad's shoulder as he stayed up and
    handcrafted numerous websites and mobile apps.
  </p>
  <p>
    Fast forward a bit, a few years ago I picked up some JavasScript skills and
    hacked up a website when I was completing my bachelor's in psychology- I
    instantly fell in love with programming.
  </p>
  <p>
    Now, I am currently pursuing computer science in British Columbia Institute
    of Technology’s Computer System Technology program. What's my drive? Simple:
    I love creating awesome stuff. Whether it's an app or a website, if it lets
    me problem-solve, I'm all in!
  </p>
</Fragment>
