---
// import { getEntry } from "astro:content";
import getEntryWithLocale from "@/utils/getEntryWithLocale";
const entry = await getEntryWithLocale("aboutSnippets", "about", Astro.currentLocale ?? "en");
const { Content } = await entry.render();
---

<Fragment>
  <div class="about-content flow">
    <Content />
  </div>
</Fragment>

<style>
  .about-content {
    margin-bottom: var(--space-l);
  }
</style>
