---
import { getEntryBySlug } from "astro:content";
import { Button } from "@/components/ui/button";
const entry = await getEntryBySlug("aboutSnippets", "about");
const { Content } = await entry.render();
---

<Fragment>
  <div class="about-content flow">
    <Content />
  </div>
</Fragment>

<style>
  .about-content {
    margin-bottom: var(--space-l);
  }
</style>
