---
import { getEntryBySlug } from "astro:content";
import { Button } from "@/components/ui/button";
const entry = await getEntryBySlug("aboutSnippets", "about");
const { Content } = await entry.render();
---

<Fragment>
  <div class="about-content flow">
    <Content />
  </div>
  <a
    class="button"
    href="/Jasper_Wang.pdf"
    target="_blank"
    aria-label="My Resume (opens in a new tab)"
  >
    Download Resume
  </a>
</Fragment>

<style>
  .about-content {
    margin-bottom: var(--space-l);
  }
</style>
