---
const educationList = [
  {
    time: '2023 - Present',
    degree: 'Computer System Technology Diploma',
    institution: 'British Columbia Institute of Technology (BCIT)',
  },
  {
    time: '2017 - 2021',
    degree: "Bachelor's of Psychology",
    institution: 'The University of British Columbia (UBC)',
  },
];
---

<div class="resume-card">
  <div class="resume-card__title">
    <span>2023 - Present</span>
    <h2>Computer System Technology Diploma</h2>
    <span class="resume-card__subtext"
      >British Columbia Institute of Technology (BCIT)</span
    >
  </div>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur ipsam
    doloremque illum consequatur beatae minus, dolorem amet velit quos odit quis
    sint laborum itaque aliquid eaque, optio, voluptatibus ut eius!
  </p>
</div>
<div class="resume-card">
  <div class="resume-card__title">
    <span>2017 - 2021</span>
    <h2>Bachelor's of Psychology</h2>
    <span class="resume-card__subtext"
      >The University of British Columbia (UBC)</span
    >
  </div>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur ipsam
    doloremque illum consequatur beatae minus, dolorem amet velit quos odit quis
    sint laborum itaque aliquid eaque, optio, voluptatibus ut eius!
  </p>
</div>
