---
import { getRelativeLocaleUrl } from 'astro:i18n';
import ResumeCard from "@/components/Cards/ResumeCard.astro";
import Link from "@/components/Link.astro";
import getCollectionWithLocale from "@/utils/getCollectionWithLocale";
const aboutSnippets = await getCollectionWithLocale("aboutSnippets", Astro.currentLocale ?? "en");
const experiences = aboutSnippets
  .filter((entry) => entry.id.includes("experience"))
  .sort((a, b) => a.data.order - b.data.order);
---

<>
  {
    experiences.map((job) => {
      return (
        <ResumeCard
          timespan={job.data.timeline}
          title={job.data.title}
          organization={job.data.organization}
        />
      );
    })
  }
  <p>
    <Link url={getRelativeLocaleUrl(Astro.currentLocale ?? "en", "experience")} name="View more experience" />
  </p>
</>
