<div class="project-card">
  <img src="./images/katex.png" alt="" />
  <h2>Katex Fashion</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid
    accusantium perspiciatis laudantium, id architecto!
  </p>
</div>
<div class="project-card">
  <img src="./images/katex.png" alt="" />
  <h2>Katex Fashion</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid
    accusantium perspiciatis laudantium, id architecto!
  </p>
</div>
<div class="project-card">
  <img src="./images/katex.png" alt="" />
  <h2>Katex Fashion</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid
    accusantium perspiciatis laudantium, id architecto!
  </p>
</div>
