---
import { getRelativeLocaleUrl } from "astro:i18n";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import ProjectCardsList from "@/components/CardsLists/ProjectCardsList.astro";
import Link from "@/components/Link.astro";
import { getCollection } from "astro:content";
import { getFeaturedProjectsInOrder } from "@/configs/projects.ts";
const allProjects = await getCollection("projects");
const featuredProjects = getFeaturedProjectsInOrder(allProjects);
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<>
  <ProjectCardsList projects={featuredProjects} />
  <p>
    <Link
      url={getRelativeLocaleUrl(Astro.currentLocale ?? "en", "projects")}
      name={t("btn.viewProjects")}
    />
  </p>
</>
