---
import Python from '../SkillIcons/Python.astro';
import JavaScript from '../SkillIcons/JavaScript.astro';
import NodeJS from '../SkillIcons/NodeJS.astro';
import React from '../SkillIcons/React.astro';
import Html from '../SkillIcons/Html.astro';
import Css from '../SkillIcons/Css.astro';
import SCSS from '../SkillIcons/SCSS.astro';
import Bootstrap from '../SkillIcons/Bootstrap.astro';

const skillIcons = [
  Python,
  JavaScript,
  NodeJS,
  React,
  Html,
  Css,
  SCSS,
  Bootstrap,
];
---

<div class="skills">
  {
    skillIcons.map((SkillIcon) => {
      return (
        <div class="skill-item">
          <SkillIcon />
          <span>{SkillIcon.moduleId.match(/([\w]+)(?=\.astro)/g)[0]}</span>
        </div>
      );
    })
  }
</div>

<style>
  .skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .skill-item {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
  }
  .skill-item span {
    font-size: 1.2rem;
  }
</style>
<style is:global>
  #skills svg {
    fill: var(--primary-text);
    width: 50px;
    height: 50px;
  }
</style>
