---
interface Props {
  date: Date;
}

const { date } = Astro.props;
---

<time datetime={date.toISOString()}>
  <p>
    {
      date.toLocaleDateString("en-us", {
        year: "numeric",
        month: "short",
        day: "numeric",
      })
    }
  </p>
</time>
<style>
    p {
        font-size: var(--step--2);
    }
</style>
