---
import Navigation from "@/components/Navigation.astro";
import Socials from "@/components/Socials.astro";
import Breadcrumbs from "@/components/Breadcrumbs.astro";
import TOC from "@/components/TOC.astro";

interface Props {
  // if isHome is true, padding will be added, and nav and socials will be included in header.
  isHome: boolean;
  title?: string;
  subtitle?: string;
  details?: string;
  navItems?: string[];
  content?: string;
}

const { isHome, title, subtitle, details, navItems, content } = Astro.props;
const hasHeaderTexts = title || subtitle || details;
---

<header class={isHome ? "header--home" : "header--alt"}>
  <div class="header-top">
    {
      hasHeaderTexts && (
        <div class="header-texts">
          {title && <h1>{title}</h1>}
          <p>{subtitle}</p>
        </div>
      )
    }
    {!isHome && <Breadcrumbs />}
  </div>
  {isHome && <Navigation navItems={navItems} />}
  {isHome && <Socials />}
  {content && <TOC content={content} />}
</header>

<style>
  header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    text-align: end;
    gap: 0;
    padding: var(--space-2xl) var(--space-l);
  }

  header * {
    margin-bottom: 0;
  }

  .header-texts {
    line-height: 2;
  }

  .header--alt {
    gap: var(--space-s);
  }

  header h1 {
    line-height: 1;
  }

  @media only screen and (min-width: 1024px) {
    header {
      position: sticky;
      top: 0;
      width: 40%;
      padding: var(--space-2xl) var(--space-l);
      max-height: 100vh;
      justify-content: space-between;
    }
    .header--alt {
      width: 30%;
    }
  }
</style>
