---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "@/components/FormattedDate.astro";

interface Props {
  posts: CollectionEntry<"posts">[];
}

const { posts } = Astro.props;
---

<div class="posts-list flow">
  {
    posts.map((post) => (
      <li>
        <a href={`/posts/${post.slug}`}>
          <p>{post.data.title}</p>
          <FormattedDate date={post.data.pubDate} />
        </a>
      </li>
    ))
  }
</div>
<style>
  li {
    font-size: var(--step-0);
    list-style-type: none;
    margin-bottom: var(--space-s);
  }

</style>
