<div class="flow prose">
  <slot />
</div>
<style is:inline>
  :is(h1, h2, h3, h4, h5, h6) {
    font-family: "Apfel Grotezk", sans-serif;
    scroll-margin-top: 5rem;
  }
  blockquote:not(.unset) {
    font-size: 1.125rem;
    width: 85%;
    margin: 0 auto;
    font-style: italic;
    color: var(--text);
    padding: 1.5rem 3rem;
    line-height: 1.9;
    position: relative;
  }

  blockquote:not(.unset):before {
    font-family: Arial;
    content: "\201c";
    color: var(--text);
    font-size: 4rem;
    position: absolute;
    left: 10px;
    top: -10px;
  }

  blockquote:not(.unset):after {
    content: "";
  }

  code,
  code p,
  code span {
    font-family: "JetBrains Mono", monospace;
  }

  :not(pre) > code {
    padding: 2px 5px;
    color: var(--primary-text);
    background-color: var(--primary-bg);
    border: 1px solid var(--primary-text);
    border-radius: 4px;
  }

  pre[class*="astro-code"] {
    font-family: "JetBrains Mono", monospace;
    padding: 1rem;
    margin: 0.5rem 0;
    overflow: auto;
    border-radius: 0.5rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    border-radius: 0.5rem;
  }

  table thead tr {
    background-color: var(--primary-text);
    color: var(--primary-bg);
    text-align: left;
  }

  table th,
  table td {
    padding: 12px 15px;
  }

  table tbody tr {
    border-bottom: 1px solid var(--primary-text);
  }

  table tbody tr:nth-of-type(even) {
    background-color: var(--primary-text);
    color: var(--primary-bg);
  }

  table tbody tr:last-of-type {
    border-bottom: 2px solid var(--primary-text);
  }

  table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
  }

  .post-info__header {
    margin-bottom: 1.4rem;
  }

  img {
    max-width: 350px;
    height: auto;
    -ms-interpolation-mode: bicubic;
    display: inline-block;
    vertical-align: middle;
  }

</style>
